@font-face {
    font-family: zenone;
    src: url("fonts/ZenoneDemo.ttf")
}

@font-face {
    font-family: jai;
    src: url("fonts/JAi.ttf")
}

@font-face {
    font-family: chapaza;
    src: url("fonts/ChapazaItalic.ttf")
}

@font-face {
    font-family: tuanga;
    src: url("fonts/Tuanga-DEMO.ttf")
}

body {
    position: relative;
    height: 100%;
    margin: auto;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
}

.outlined {
    border-style: solid;
    border-width: 2px;
    padding-top: 10px;
}

.content {
    min-height: calc(100vh - 40px);
}

.img-responsive {
    width: 100%;
}

.img-logo {
    width: 150px;
}

@media (max-width: 990px) {
    .img-logo {
        width: 10%;
    }

    .left {
        position: absolute;
        bottom: 30px;
        left: 10px;
    }

    .right {
        position: absolute;
        bottom: 30px;
        right: 10px;
    }

}

.img-proj {
    width: 100px;
    transition-property: width;
    transition-duration: 1s;
}

.img-proj:hover {
    width: 70%;

}

.left {
    position: absolute;
    bottom: 50px;
    left: 125px;
}

.right {
    position: absolute;
    bottom: 50px;
    right: 125px;
}

.container {
    padding-bottom: 40px;
}

input {
    width: 100%;
    border-radius: 5px;
    border-style: hidden;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border-style: hidden;
    padding: 5px;
    margin: 5px;
    resize: none;
}

a {
    font-family: jai;
}

.text {
    font-family: jai;
}

.title {
    font-family: zenone;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro-name {
    font-family: zenone;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.definition {
    font-family: jai;
    font-size: 25px;
}

.word {
    font-family: chapaza;
    font-size: 25px;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.web {
    font-family: chapaza;
    font-size: 25px;
}

.intro-1 {
    position: absolute;
    top: 40%;
    left: 45%;
    font-family: jai;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro-2 {
    position: absolute;
    top: 40%;
    left: 30%;
    font-family: jai;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.intro-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: jai;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.small-text {
    font-family: jai;
    font-size: 18px;
}

.text-white {
    font-family: jai;
    color: white;
}

.foot {
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0px;
    border-radius: 5px;
    height: 25px;
}

.content-fade {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#first {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#second {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#third {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

