<section class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title">Technologies known</h1>
        </div>
    </div>
    <br><br>
    <section class="content-fade">
        <div class="row">
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/javascript.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/angular.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/oracle.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/jquery.png" alt="" class="skill">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/ajax.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/html5.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/css3.svg" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/express.png" alt="" class="skill">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/git.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/mongodb.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/nodejs.png" alt="" class="skill">
            </div>
            <div class="col-xs-3 text text-center">
                <img src="images/skills-images/csharp.png" alt="" class="skill">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text text-center">
                <img src="../../images/skills-images/aspnet.jpg" alt="" class="skill">
            </div>
            <div class="col-xs-6 text text-center">
                <img src="../../images/skills-images/plsql.jpg" alt="" class="skill">
            </div>

        </div>
    </section>
</section>
