<section class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title">Resume</h1>
        </div>
    </div>
    <section class="content-fade">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/files/Jordan-Lenaburg-Technical.pdf" target="_blank" class="text">Download</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="/files/Jordan-Lenaburg-Technical-1.png" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="/files/Jordan-Lenaburg-Technical-2.png" alt="" class="img-responsive">
            </div>
        </div>
    </section>
</section>
