<!--TODO: Adjust timing of intro-->
<!--TODO: add picture-->
<section class="container">
    <div class="row">
        <h1 class="intro-1 text-center">Hello</h1>
        <h1 class="intro-2 text-center">Welcome to my website</h1>
        <h1 class="intro-3 text-center">My name is:</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="intro-name">Jordan Lenaburg</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right word">web</div>
        <section id="first">
            <div class="col-xs-9 text-left definition">developer</div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4 text-left">
                    <span class="small-text">de·vel·op·er<br>
                    <ol><li>a person or thing that develops something</li></ol>
                </span></div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="second">
            <div class="col-xs-9 col-xs-offset-3 text-left definition">designer</div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4 text-left">
                    <span class="small-text">de·sign·er<br>
                    <ol><li>a person who plans the form, look, or workings of something before it is being made or built</li></ol>
                </span></div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="third">
            <div class="col-xs-8 col-xs-offset-3 text-left definition">creator</div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4 text-left">
                    <span class="small-text">cre·a·tor<br>
                    <ol><li>a person or thing that brings something into existence</li></ol>
                </span></div>
            </div>
        </section>
    </div>
</section>
