<section class="container" ng-controller="contactCtrl">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title">Get in touch</h1>
        </div>
    </div>
    <section class="content-fade">
        <form name="contactForm" class="form-inline">
            <div class="row">
                <div class="col-xs-6  text-center">
                    <input type="text" placeholder="Name" required ng-model="contact.name">
                </div>
                <div class="col-xs-6  text-center">
                    <input type="email" placeholder="Email Address" required ng-model="contact.email">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6  text-center">
                    <input type="text" placeholder="Company" ng-model="contact.company">
                </div>
                <div class="col-xs-6  text-center">
                    <input type="phone" placeholder="Phone Numer" required ng-model="contact.phone">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  text-center">
                    <textarea rows=5 placeholder="What's up?" required ng-model="contact.text"></textarea>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-info" ng-click="sendEmail(contact)">Send it!</button>
                </div>
            </div>
        </form>
        <div class="row">
            <br>
            <div class="col-xs-12 text text-center">Or, you can send me an <a href="mailto:jordan@jordanlenaburg.com">email</a>
            </div>
        </div>
    </section>
</section>
