<section class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title">Projects</h1>
        </div>
    </div>
    <br><br>
    <section class="content-fade">
        <div class="row">
            <div class="col-xs-12 text text-left"><h3>Adventure RPG</h3></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text text-left"><b>Project description:</b> Text-based Role Playing Game. <br><b>Technologies
                used:</b> Pure JavaScript, Readline-Sync
            </div>
        </div>
        <div class="row">
            <div class=" text text-center">
                <img src="images/project-images/adventure-rpg.png" alt="" class="img-proj">
                <img src="images/project-images/rpg-code-1.png" alt="" class="img-proj">
                <img src="images/project-images/rpg-code-2.png" alt="" class="img-proj">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 text text-left"><a href="http://highscore.jordanlenaburg.com" target="_blank"><h3>High
                Score - Click for live project!</h3></a></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text text-left"><b>Project description:</b> Static Website which displays a list of
                high-scores for games. Designed to be responsive without the use of a CSS library. <br><b>Technologies
                    used:</b> jQuery, HTML5, CSS3, Web Storeage
            </div>
        </div>
        <div class="row">
            <div class="text text-center">
                <img src="images/project-images/highscore.png" alt="" class="img-proj">
                <img src="images/project-images/highscore-code-1.png" alt="" class="img-proj">
                <img src="images/project-images/highscore-code-2.png" alt="" class="img-proj">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 text text-left"><a href="http://ng-todo.jordanlenaburg.com" target="_blank"><h3>Angular
                To Do - Click for live project!</h3></a></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text text-left"><b>Project description:</b> CRUD Application interacting with a simple To-Do
                API. Designed to be responsive using Bootstrap. <br><b>Technologies used:</b> AngularJS, CSS3, HTML5, Bootstrap
            </div>
        </div>
        <div class="row">
            <div class="text text-center">
                <img src="images/project-images/ang-todo.png" alt="" class="img-proj">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 text text-left"><a href="http://mp3-downloader.jordanlenaburg.com" target="_blank"><h3>MP3-Downloader - Click for live project!</h3></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text text-left"><b>Project description:</b> SPA interacting with multiple API's to search
                for YouTube videos of songs, then download the songs and display lyrics and metadata. <br><b>Technologies
                    used:</b> AngularJS, HTML5, CSS3, Bootstrap, Angular HTTP
            </div>
        </div>
        <div class="row">
            <div class="ctext text-center">
                <img src="images/project-images/angular-site-main.png" alt="" class="img-proj">
                <img src="images/project-images/angular-site-preview.png" alt="" class="img-proj">
                <img src="images/project-images/angular-site-lyrics.png" alt="" class="img-proj">
            </div>
        </div>
    </section>
</section>
