<section class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title">About Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 content-fade">
            <h3 class="text">Professional:</h3>
            <p class="text">I'm an experienced web developer who specializes in functionally creative style. What is
                "functionally creative style"? It's the type of work which works, on all levels. My design is
                intentional, from the ground up. Every line of code written has a purpose, and every action taken has a
                plan. Action is the only cause of results. If you need results, you need action, and I live for action.</p>
            <p class="text">My greatest joy in life is causing potential to be reached. I've been a leader in many previous
                professional roles, and have learned through my career there is only one cause of failure: no longer
                taking action. My success is directly coorelate to the success of those around me. Thus, my intentional
                action is leading those with whom I work to fulfilled potential.</p>
        </div>
        <div class="col-xs-12 col-sm-6 content-fade">
            <h3 class="text">Personal:</h3>
            <p class="text">I chose web-development as a career intentionally. It simply suits me. The logical, precise,
                and creative nature of the work fills the minutes of the day with never-ending challenges. There is
                always something new to work on. For the same reason I love creating music, or writing, coding allows
                creation of beauty from the chaotic ether of nothing. The final appeal is that there is always a way to
                solve any problem.</p>
            <p class="text">I live for solving problems and creating things. I love to fix and upgrade, and
                because the wheels in my head turn just a little differently than the rest of the world, it allows me to
                architect elegant, simple, solutions to complex problems. More than anything else, all of this allows me
                to get things done.</p>
        </div>
        <div class="row">
            <div class="col-xs-12 text text-center content-fade">If you could use someone like me to help drive results,
                <a href="mailto:jordan@jordanlenaburg.com">drop me a line.</a></div>
        </div>
    </div>
</section>


<!--list skills as a subset, transition them in as a list, one after the other-->
